Package: tidb-foresight
Version: 0alpha
Architecture: amd64
Section: utils
Priority: extra
Essential: no
Source: tidb-foresight
Depends: graphviz, linux-tools-common, rsync, golang
maintainer: PingCAP
Homepage: http://pingcap.com
Description: tidb-foresight is a web-based tidb cluster diagnostic tool
