# If you modify this, please also make sure to edit init.sh

[Unit]
Description=prometheus service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
LimitNOFILE=1000000
#LimitCORE=infinity
LimitSTACK=10485760
User=tidb
ExecStart=$prefix/tidb-foresight/bin/prometheus --web.listen-address=127.0.0.1:$prometheus_port --storage.tsdb.path=$prefix/tidb-foresight/data/prometheus --config.file=$prefix/tidb-foresight/conf/prometheus.yml
Restart=always
RestartSec=15s

[Install]
WantedBy=multi-user.target
