.container {
  padding: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.list_header {
  display: flex;
  justify-content: space-between;
}

.space {
  flex-grow: 1;
}

.instance_status {
  display: flex;
  align-items: center;

  span {
    margin-right: 8px;
  }
}

.load_more_btn {
  display: block;
  width: 200px;
  margin: 20px auto;
}

.report_detail_body {
  margin-top: 40px;
}
